.venv/
__pycache__/
*.py[cod]
.pytest_cache/

app/data/*
!app/data/.gitkeep
app/data/books/

app/cache/audio/*
!app/cache/audio/.gitkeep

app/logs/*
!app/logs/.gitkeep

*.sqlite
*.db
*.mp3
*.lnk

.DS_Store
Thumbs.db
